

<% @buildings.each do |building| %>

<ul>
  <li><%= building.name %></li>
  <li><%= building.number_of_floors %></li>
  <ul>
    <% building.offices.each do |office| %>
    <li><%= office.floor %></li>
    <% end %>
  </ul>
</ul>

<% end %>
